.about {
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
}

section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  color: var(--gray-200);
}

.content {
  grid-column: 2 / 3;
  padding-bottom: 2vh;
}

.content p {
  margin-bottom: 50px;
}

.content ul {
  margin-bottom: 50px;
}

.content :global(a) {
  text-decoration: 1px solid underline transparent;
  text-underline-offset: 0.25em;
  transition: text-decoration-color var(--theme-transition);
}

.content :global(a:hover),
.content :global(a:focus) {
  text-decoration-color: currentColor;
}

@media (min-width: 50em) {
  section {
    display: contents;
    font-size: var(--text-lg);
  }
}
