---
import BaseLayout from '../layouts/BaseLayout.astro';

import Hero from '../components/Hero.astro';
import Skills from '../components/Skills.astro';
import NeedStumble from '../components/NeedStumble.astro';
import "./../styles/about.css"
---

<BaseLayout>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title="Why do you need stumble?"
				tagline="You have enough social media apps; why do you need another one?"
			/>
			<section>
				<NeedStumble/>
			</section>
		</main>
		<Skills/>
	</div>
</BaseLayout>
