---
import BaseLayout from '../layouts/BaseLayout.astro';

import CompetitorsData from '../components/CompetitorsData.astro';
import Hero from '../components/Hero.astro';
import "./../styles/about.css"
---

<BaseLayout title="Competition for Stumble" description="The best dating apps in India 2023">
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero
				title='Standing Out in the meeting new people market'
				tagline="What differentiates us from other apps in the same space?"
			/>
			<section>
				<CompetitorsData/>
			</section>
		</main>
	</div>
</BaseLayout>
