---
import BaseLayout from '../layouts/BaseLayout.astro';

import ContactCTA from '../components/ContactCTA.astro';
import IdeaSection from '../components/IdeaSection.astro';
import Hero from '../components/Hero.astro';
---

<BaseLayout title="Stumble | Date Better" description="Making Conversations old school">
	<div class="stack">
		<main class="wrapper about">
			<Hero title="How does Stumble work?" />
		</main>
    <IdeaSection />
	</div>
</BaseLayout>

<style>

</style>
