---
import BaseLayout from '../layouts/BaseLayout.astro';

import IdeaSection from '../components/IdeaSection.astro';
import Hero from '../components/Hero.astro';
import "./../styles/about.css"
---

<BaseLayout>
	<div class="stack gap-20">
		<main class="wrapper about">
			<Hero title="How does Stumble work?" tagline='A peek into the unique concept'/>
			<IdeaSection />
		</main>
	</div>
</BaseLayout>
