---
import { getCollection } from "astro:content";
import Grid from "./Grid.astro";
import PortfolioPreview from "./PortfolioPreview.astro";

const projects = (await getCollection("blog")).sort(
  (a, b) => b.data.publishDate.valueOf() - a.data.publishDate.valueOf(),
);
---

<header class='section-header stack gap-2 lg:gap-4'>
  <h3 class='text-4xl'>Blogs</h3>
  <!-- <p>
    Take a look below at some of my featured work for clients from the
    past few years.
  </p> -->
</header>
<div class='gallery'>
  <Grid variant='offset'>
    {
      projects.map((project) => (
        <li>
          <PortfolioPreview project={project} />
        </li>
      ))
    }
  </Grid>
</div>
