<section class="box skills">
	<div class="stack gap-2">

		<p>
           
Many of our industry counterparts predominantly focus on enhancing your engagement with mobile devices. In contrast, the fundamental ethos of our concept is diametrically opposed. While it operates as an application, its central objective centers around facilitating and encouraging face-to-face interactions. We aspire to empower you to engage in real-life conversations, striving solely to eliminate the hindrances that might otherwise deter you from initiating those initial personal encounters.
		</p>
		<p>
            Upon a more comprehensive examination of our competition, it becomes evident that our primary competitors include platforms such as Instagram and Snapchat. In the realm of dating, we find formidable adversaries in apps like Bumble, Tinder, Hinge, and Happn.

		</p>	
		<p>	
            
Let us delve profoundly into how our application distinguishes itself from these counterparts and how it excels in addressing your specific needs.
		</p>
		<h3>Difference from social media apps.</h3>

		<p>
			Social media applications, such as Instagram, Snapchat, and their counterparts, revolve around a straightforward premise: you send a friend request, it gets accepted, and you can then engage in conversations via direct messaging (DM). Typically, these connections are established with individuals who are already part of your social circle, and in the case of strangers, you often find yourself awaiting acceptance of your request. Their primary objective is to keep users engaged with their mobile devices, ensuring that conversations take place exclusively within their app ecosystem. Their strategy encourages users to nurture relationships, be they platonic or otherwise, within the confines of their app before contemplating real-world meetings.
            
		</p>
        <p>
			In stark contrast, our innovative app, Stumble, adopts a fundamentally different perspective. We firmly believe that individuals of our generation prioritize authentic, in-person interactions over virtual exchanges. When you make a connection on Stumble, you can be certain that your match is geographically close, and our ultimate goal is to facilitate immediate face-to-face encounters, enabling you both to engage in natural conversations and jointly determine your next steps.            
        </p>
		<h3>Difference from dating apps.</h3>
		<p>
			
Contemporary dating applications predominantly operate on the premise of casting a wide net, allowing you to swipe on potential matches even if they're located up to 50 kilometers away. Once a match is made, you typically find yourself in the throes of the small talk phase, which may eventually lead to the exchange of Instagram profiles. This, in turn, initiates another cycle of superficial conversations, with only a rare few culminating in actual face-to-face dates. Regrettably, these encounters sometimes reveal that your match differs significantly from the persona they projected online, leaving you feeling disillusioned as you return home, only to start the process anew.
            
        </p>
		<p>
            However, within the realm of Stumble, we hold a steadfast belief in the enchanting allure of serendipitous meetings, the fabled "meet-cutes." We contend that the connections forged with individuals in your immediate vicinity often eclipse those established with distant matches. Imagine you're in a public library, engrossed in your chosen book, and you happen upon someone equally captivated by the same literary work. How probable is it that such a serendipitous encounter would occur on any conventional dating app? In this scenario, you can be confident that the person aligns with their online portrayal. Picture this: you both have the Stumble app, and upon matching, you initiate a conversation right there in the library, enabling you to gauge your compatibility on the spot. This obviates the need for the tiresome cycle of tedious app-based small talk, switching to other platforms, enduring banal conversations, possibly arranging a meeting, only to later realize it wasn't worth the effort and returning to square one.
        </p>
	</div>
	
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		margin-left: 100px;
		margin-right: 100px;
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);

	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}
	}
</style>
