---
import type { FeaturedPlace } from "../utils/types";
import { FEATURED_PLACES } from "../utils/constants";
const { list = FEATURED_PLACES } = Astro.props;
---

<h3 class='text-3xl'>Features places:</h3>
<ul>
  {
    list.map((place: FeaturedPlace) => (
      <li>
        <a href={`/cities/${place.route}`} target='_blank'>
          {place.name}
        </a>
      </li>
    ))
  }
</ul>
