---
import IconLinks from "../utils/socialLinks";
const currentYear = new Date().getFullYear();

const SOCIAL_LINKS_LIST: { label: string; href: string }[] = [
  { label: "Twitter", href: IconLinks.twitter },
  { label: "Instagram", href: IconLinks.instagram },
  { label: "GitHub", href: IconLinks.github },
  { label: "Linkedin", href: IconLinks.linkedin },
  { label: "Youtube", href: IconLinks.youtube },
  { label: "Whatsapp", href: IconLinks.whatsapp },
];
---

<footer>
  <div class='group'>
    <p>Designed & Developed in India with ❤️ @{currentYear}</p>
  </div>
  <p class='socials'>
    {SOCIAL_LINKS_LIST.map(val => {
      return <a href={val.href}> {val.label} </a>
    })}
  </p>
</footer>
<style>
  footer {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: auto;
    padding: 3rem 2rem 3rem;
    text-align: center;
    color: var(--gray-400);
    font-size: var(--text-sm);
  }

  footer a {
    color: var(--gray-400);
    text-decoration: 1px solid underline transparent;
    text-underline-offset: 0.25em;
    transition: text-decoration-color var(--theme-transition);
  }

  footer a:hover,
  footer a:focus {
    text-decoration-color: currentColor;
  }

  .group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 1rem;
    flex-wrap: wrap;
  }

  @media (min-width: 50em) {
    footer {
      flex-direction: row;
      justify-content: space-between;
      padding: 2.5rem 5rem;
    }

    .group {
      flex-direction: row;
      gap: 1rem;
      flex-wrap: wrap;
    }

    .socials {
      justify-content: flex-end;
    }
  }
</style>
