---
import Icon from './Icon.astro';
---

<section class="box skills">
	<div class="stack gap-2">
		<h2>How our app works: </h2>

		<p >
            The concept is quite simple. Picture this scenario: you're at a concert, and there's someone you'd like to strike up a conversation with. In such situations, particularly when both of you are with friends, a multitude of questions might cross your mind. You might wonder if the other person is open to chatting with you, possibly due to various factors.
		</p>
		<p>
            So, what typically unfolds in such a scenario? You often hope for a chance encounter, but let's be realistic; that rarely happens.
		</p>	
		<p>	
            Now, envision a world with Stumble. Imagine you spot that individual and decide to open the Stumble app on your phone. You set a small radius, and only profiles within that radius, matching your filters, become visible in your queue for a limited time. You come across that person's profile and swipe right.
		</p>
		<p>
            Now, let's assume that the other person also had the same thoughts and reservations as you initially did but decided to use Stumble. They find your profile and swipe right as well, resulting in a match!
		</p>
        <p>
            What does this match signify? It could mean that the other person is seeking a friend, exploring a potential romantic connection, or simply looking for a conversation. We can't definitively say what their intentions are, and neither can you.
            However, what is certain is that both you and the other person are interested in engaging in a conversation, at the very least. Since this app operates based on real-time location, you have the opportunity to meet up with that person right then and there!
            How you choose to proceed with this newfound connection is entirely up to you. Our mission, which was to facilitate the initiation of an in-person conversation, has been accomplished.
        </p>
	</div>
	<div class="stack gap-2">
		<video width="1100" height="600" autoplay>
			
			<source src='/assets/stumble-demo.mp4' type="video/mp4"/>
		  </video>
	</div>
	
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);

	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.h2 {
		
		font-size: var(--text-lg);	
	}

	.p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.h2 {
			font-size: var(--text-2xl);
		}
	}
</style>
