---
import type { CollectionEntry } from 'astro:content';

interface Props {
	project: CollectionEntry<'blog'>;
}
---

<section class="box stack">
	<div class="text">

		<p>
			It may sound self promoting, but why is stumble the best app currently in India?		
		</p>
		<p>
            Most of us want to have meet-cutes in our lives, or already know that person (or people) who we have a thing for. And in most cases that is the person we want to get to know better. But, alas, due to the current apps in the market, this seems like a far-fetched idea. Due to the current options in the market, we are forced to swipe on someone many kilometers away. Our only options are to swipe on a person (that may not  even be real), have small talks for a few days, and maybe, in a very small percentage of the cases, the match actually translates into a date. And in most of these small number of cases, you realize your match isn't worth the time and effort. And the process starts all over again.
		</p>	
		<p>
			How does Stumble stand apart? Well, we don't believe in swiping on people many kilometers away. We believe in promoting meet-cutes, and old-school in-person conversations. You swipe on someone in your immediate vicinity and get to have a conversation right then and there. The entire process, of swiping, waiting for a match, small-talk on the app, small-talk on instagram, followed by a date, is avoided. You know then and there whether you want to take things forward with this match. And if not, you can go back to your life within just a few minutes. 
		</p>
		
	</div>
	<span class="center">
		<video width="300" height="600" autoplay>
			<source src='/assets/stumble-demo.mp4' type="video/mp4"/>
		</video>
	</span>
</section>

<style>
	.box {
		border: 1px solid var(--gray-800);
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		box-shadow: var(--shadow-sm);
	}

	.center {
		display: flex;
		justify-content: center;
		align-items: center;
	}


	.skills {
		display: flex;
		flex-direction: column;
		gap: 1rem;
	}

	.p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
			flex-direction: row;
			font-size: larger;
		}
	}
</style>
