---
import Icon from './Icon.astro';
---

<section class="box">
	<h2>
		What are early adopters have to say about us: 
	</h2>
	<section class="skills">
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Shreya</h3>
		<p>Thank you for this much needed app! I have finally found a medium to interact with my college crush!</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Zoya</h3>
		<p>The app that our generation desperately needed! This app made having conversations with strangers extremely convenient, and will help me connect with a bunch of interesting people!</p>
	</div>
	<div class="stack gap-2 lg:gap-4">
		<Icon icon="heart" color="var(--accent-regular)" size="2.5rem" gradient />
		<h3>Anushka</h3>
		<p>Finally a way to experience my meet-cute fantasy! Thank you team Stumble for making this happen!!</p>
	</div>
</section>
</section>

<style>
	h2 {
		font-size: var(--text-3xl);
	}
	.box {
		/* border: 1px solid var(--gray-800); */
		border-radius: 0.75rem;
		padding: 1.5rem;
		background-color: var(--gray-999_40);
		/* box-shadow: var(--shadow-sm); */
	}

	.skills {
		display: flex;
		flex-direction: column;
		gap: 3rem;
	}

	.skills h3 {
		font-size: var(--text-lg);
	}

	.skills p {
		color: var(--gray-400);
	}

	@media (min-width: 50em) {
		.box {
			border-radius: 1.5rem;
			padding: 2.5rem;
		}

		.skills {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			gap: 5rem;
		}

		.skills h3 {
			font-size: var(--text-2xl);
		}
	}
</style>
