---
import BaseLayout from "../../layouts/BaseLayout.astro";
import BlogList from "../../components/BlogList.astro";
---

<BaseLayout>
  <main class='wrapper stack gap-20 lg:gap-48'>
    <h1 class='text-sm'>Blogs to help you meet new people :)</h1>
    <section class='section with-background with-cta'>
      <BlogList />
    </section>
  </main>
</BaseLayout>
